<%- include('modules/header'); -%>


    <body>
        <main role="main">
            <div class="box">
                <p>
                <form action="/" method="POST">

                    <input type="text" name="fullUrl" placeholder="https://www.facebook.com/"
                        pattern="^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$"
                        required>

                    <button type="submit">enter</button>

                </form>
                </p>
            </div>
            <p>
                <%if (data?.key != null) {%>
                    <a href="<%= data.shortUrl %>" id="shortUrl">
                        <%= data.shortUrl %>
                    </a>
                    <button onclick="copy()">copy url</button>
                    <button onclick=" window.open('<%= data.shortUrl %>','_blank')" target="_black">link</button>

                    <% } %>
            </p>
        </main>

    </body>
    <Helmet>
        <%- include('modules/script'); -%>
    </Helmet>
    <!--
    <%- include('modules/footer'); -%>
     -->