<%- include('header'); -%>



    <body>
        <h4 class="text-warning">Shorturl Created</h4>
        <h4>
            <a href="<%= url.name %>" id="shortUrl">
                <%= newUrl %>
            </a>

            <button onclick="copy('shortUrl')">copy url</button>
            <button onclick="location.href='<%= homePage %>'">home page</button>
        </h4>
    </body>



    <script>
        function copy(id) {
            var str = document.getElementById(id);
            window.getSelection().selectAllChildren(str);
            document.execCommand("Copy")
        }
    </script>


    <!--
    <%- include('footer'); -%>
     -->