<%- include('modules/header'); -%>


    <body>
        <h4 class="text-warning">Shorturl Created</h4>
        <h4>
            <a href="<%= url.name %>" id="shortUrl">
                <%= newUrl %>
            </a>

            <button onclick="copyContent()">copy url</button>
            <button onclick="location.href='<%= homePage %>'">home page</button>
        </h4>
    </body>



    <%- include('modules/script'); -%>



        <!--
    <%- include('modules/footer'); -%>
     -->