<%- include('modules/header'); -%>


    <body>
        <main role="main">
            <p>
            <form action="/" method="POST">

                <input type="text" name="fullUrl" placeholder="https://www.facebook.com/"
                    pattern="^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$"
                    required>

                <button type="submit">enter</button>

            </form>
            </p>

            <p>
                <%if (data.name) {%>
                    <a href="<%= data.newUrl %>" id="shortUrl">
                        <%= data.newUrl %>
                    </a>
                    <button onclick="copy()">copy url</button>
                    <button onclick=" window.open('<%= data.newUrl %>','_blank')" target="_black">link</button>

                    <% } %>
            </p>
        </main>

    </body>
    <Helmet>
        <%- include('modules/script'); -%>
    </Helmet>
    <!--
    <%- include('modules/footer'); -%>
     -->